<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IInCaptivaService">
                    <security mode="None" />
                </binding>
                <binding name="MetadataExchangeHttpBinding_IInCaptivaService1">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://incaptiva.azurewebsites.net/InCaptivaService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IInCaptivaService"
                contract="InCaptivaService.IInCaptivaService" name="MetadataExchangeHttpBinding_IInCaptivaService" />
            <endpoint address="http://localhost:27339/InCaptivaService.svc/mex"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IInCaptivaService1"
                contract="LocalService.IInCaptivaService" name="MetadataExchangeHttpBinding_IInCaptivaService1" />
        </client>
    </system.serviceModel>
</configuration>