@model IEnumerable<InCaptivaService.Worker>
@*@{
    ViewData["Title"] = "Home Page";
}*@
<h1>Stuff</h1>

<ul>
    @foreach(InCaptivaService.Worker item in Model) {
        <li>
            @item.Name
        </li>
    }
</ul>
